@import "./Variables.scss";
#landing-page {
  max-width: 100%;
}
#landing--header {
  #landing-header--illo-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 $PadTBSmall 40px $PadTBSmall;
    @media(max-width: $Tablet) {
      padding: 0 $PadTBSmall 20px $PadTBSmall;
    }
    #landing-header-illo--inner {
      width: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      @media(max-width: $Tablet) {
        display: none;
      }
      .landing-header--illo {
        width: 50px;
        max-height: 57px;
        height: auto;
        @media(max-width: $Tablet) {
          width: 40px;
          max-height: 46px;
          margin-left: 40px;
        }
      }
    }
  }
  .landing-header--inner {
    padding: 40px 0 35px 0;
    @media(max-width: $Desk) {
      padding: 20px 0 30px 0;
    }
    @media(max-width: $Tablet) {
      padding: 35px 0 40px 0;
    }
    #landing-future-heading--mobile-break {
      display: none;
      @media(max-width: $Tablet) {
        display: block;
      }
    }
    #landing-future-heading--tablet-break {
      display: none;
      @media(max-width: $TabletLG) {
        display: block;
      }
    }
    #landing-header--future-heading-one,#landing-header--future-heading-two {
      @media(max-width: $TabletLG) {
        font-size: 56px;
        line-height: 88px;
      }
      @media(max-width: $Tablet) {
        font-size: 36px;
        line-height: 53px;
      }
    }
    #landing-header--future-heading-two {
      margin-top: 50px;
      @media(max-width: $TabletLG) {
        margin-top: 25px;
      }
    }
    .landing-header--link {
      cursor: pointer;
      font-family: 'PostGrotesk' !important;
      font-size: 60px;
      line-height: 90px;
      @media(max-width: $TabletLG) {
        font-size: 56px;
        line-height: 88px;
      }
      @media(max-width: $Tablet) {
        font-size: 36px;
        line-height: 53px;
      }
      @media(max-width: $Phone) {
        display: inline-block;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .landing-header--subtext {
      margin-top: 30px;
      max-width: 750px;
      font-size: 18px;
      line-height: 44px;
      @media(max-width: $TabletLG) {
        max-width: 100%;
      }
      @media(max-width: $Tablet) {
        font-size: 15px;
        line-height: 36px;
        margin-top: 30px;
      }
    }
  }
}

#landing--approach {
  #landing-approach--inner {
    #approach--black-box {
      background-color: $Black;
      @media(max-width: $Tablet) {
        height: 85px;
      }
    }
  }
}

#landing--trio {
  .landing-trio--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    @media(max-width: $Tablet) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .landing-trio--item {
      padding: $PadTBMedium 0 $PadTBMedium $PadTBMedium;
      width: 33%;
      @media(max-width: $Desk) {
        padding: $PadTBSmall 0 $PadTBSmall $PadTBSmall;
      }
      @media(max-width: $Tablet) {
        padding: 35px 25px;
        width: 100%;
      }
      .landing-trio--illo-container {
        margin-bottom: 50px;
        height: 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        @media(max-width: $Tablet) {
          height: 65px;
          margin-bottom: 30px;
        }
        .landing-trio--illo {
          width: 75px;
          height: auto;
          max-height: 85px;
          @media(max-width: $TabletLG) {
            width: 65px;
            max-height: 75px;
          }
          @media(max-width: $Tablet) {
            width: 55px;
            max-height: 65px;
          }
        }
      }
      .landing-trio--sub-heading {
        max-width: 200px;
        margin: 10px 0 30px 0;
      }
      .landing-trio--attributes {
        .landing-trio-attributes--heading {
          margin-bottom: 10px;
        }
        .landing-trio-attributes--subheading {
          line-height: 32px;
        }
      }
    }
  }
}

#landing--portfolio-grid {
  #portfolio-grid--inner {
    padding: 20px 18px 20px 22px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    @media(max-width: $Tablet) {
      padding: 0;
      width: 101%;
    }
    .portfolio-item--container {
      border: 1px solid $Black;
      width: 20%;
      height: 260px;
      position: relative;
      margin: -1px 0 0 -1px;
      cursor: pointer;
      background: $White;
      display: inline-block;
      vertical-align:top;
      @media(max-width: 1300px) {
        height: 240px;
      }
      @media(max-width: $DeskLG) {
        height: 220px;
      }
      @media(max-width: $Desk) {
        height: 240px;
        width: calc(25% + 1px);
      }
      @media(max-width: $TabletLG) {
        height: 210px;
      }
      @media(max-width: 850px) {
        width: calc(33.33% + 1px);
        height: 245px;
      }
      @media(max-width: $Tablet) {
        height: 230px;
      }
      @media(max-width: 650px) {
        height: 205px;
      }
      @media(max-width: $Phone) {
        width: calc(50% + 1px);
        height: 250px;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
        -webkit-flex: 0 1 auto;
      }
      @media(max-width: 500px) {
        height: 235px;
      }
      @media(max-width: $PhoneXS) {
        height: 205px;
      }
      @media(max-width: $PhoneXXS) {
        height: 160px;
      }
      &:hover {
        .portfolio-item--text-overlay {
          opacity: 1 !important;
        }
        .portfolio-item--logo {
          opacity: 0 !important;
        }
      }
      .portfolio-item--inner {
        width: 100%;
        height: 100%;
        text-align: center;
        #logo--Motorq {
          max-width: 120px;
        }
        .portfolio-item--logo {
          height: auto;
          max-height: 40px;
          max-width: 180px;
          -webkit-transition: .1s ease;
          -o-transition: .1s ease;
          transition: .1s ease;
          top: 50%;
          position: relative;
          -webkit-transform: translateY(-50%);
          @media(max-width: $TabletLG) {
            max-height: 30px;
            max-width: 140px;
          }
          @media(max-width: $Tablet) {
            max-width: 115px;
          }
        }
        .portfolio-item--text-overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          -webkit-transition: .5s ease;
          -o-transition: .5s ease;
          transition: .5s ease;
          background-color: $CobaltBlue;
          z-index: 9;
          padding: 40px 30px;
          text-align: left;
          @media (max-width: $DeskLG) {
            padding: 20px;
          }
          h4,p,a{
            color: $White;
          }
          h4 {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 10px;
            @media (max-width: $DeskLG) {
              margin-bottom: 5px;
              font-size: 20px;
              line-height: 20px;
            }
            @media(max-width: $Tablet) {
              font-size: 14px;
              line-height: 14px;
            }
          }
          p {
            font-size: 16px;
            line-height: 24px;
            @media(max-width: $TabletLG) {
              font-size: 14px;
              line-height: 24px;
            }
            @media(max-width: $Tablet) {
              font-size: 12px;
              line-height: 17px;
            }
          }
          a {
            font-family: 'PostGrotesk';
            font-size: 18px;
            @media(max-width: $Tablet) {
              font-size: 14px;
              line-height: 14px;
            }
          }
          .portfolio-item--link-container {
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            position: absolute;
            bottom: 30px;
            @media(max-width: $TabletLG) {
              bottom: 25px;
            }
            img {
              width: 55px;
              height: 18px;
              margin-left: 30px;
              @media(max-width: $Tablet) {
                width: 35px;
                height: 10px;
                margin-left: 30px;
              }
            }
          }
        }
      }
      .message-banner--container {
        position: absolute;
        bottom: 25px;
        width: 100%;
        text-align: center;
        z-index: 1;
        .message-banner--inner {
          border-radius: 20px;
          height: 32px;
          background-color: $CobaltBlue;
          max-width: 185px;
          margin: 0 auto;
          @media(max-width: $Tablet) {
            max-width: 165px;
          }
          @media(max-width: $Phone) {
            height: 24px;
            max-width: 130px;
          }
          h6 {
            color: $White;
            font-size: 11px;
            line-height: 32px;
            @media(max-width: $Tablet) {
              font-size: 10px;
            }
            @media(max-width: $Phone) {
              font-size: 8px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

#landing--statement {
  min-height: 225px;
  #statement--gray-box {
    background-color: $LightGray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100%;
    text-align: center;
    img {
      width: 110px;
      height: auto;
      max-height: 170px;
      @media(max-width: $Tablet) {
        width: 100px;
        max-height: 150px;
      }
      @media(max-width: $Phone) {
        with: 90px;
      }
    }
    @media(max-width: $Tablet) {
      padding: 40px 0;
    }
  }
}

#landing--founders {
  #founders--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    @media(max-width: $Tablet) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .founder-container {
      width: 49.5%;
      padding: $PadTBMedium;
      @media(max-width: $Tablet) {
        padding: 50px 25px;
        width: 100%;
      }
    }
    .founder--bio {
      line-height: 43px;
      margin-top: 10px;
      @media(max-width: $Tablet) {
        line-height: 30px;
      }
      @media(max-width: $Phone) {
        max-width: 100%;
      }
    }
  }
}

#signup--container {
  border-top: 10px solid $Black;
  border-bottom: 10px solid $Black;
  @media(max-width: $Tablet) {
    border-top: 5px solid $Black;
    border-bottom: none;
  }
  #signup--intro-container {
    background-color: $CobaltBlue;
    padding: 30px 75px;
    @media(max-width: $Tablet) {
      padding: 29px 25px;
    }
    h2 {
      color: $White;
    }
  }
  #signup--input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    @media(max-width: $Tablet) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    input {
      padding: 28px 75px;
      border: none;
      height: 125px;
      @media(max-width: $Tablet) {
        padding: 25px;
        height: 85px;
      }
    }
    button {
      height: 125px;
      width: 300px;
      padding: 0;
      @media(max-width: $Tablet) {
        width: 100%;
        height: 70px;
      }
    }
  }
  #signup--confirmation-text {
    padding: 27px 75px;
    background: $White;
    @media(max-width: $Tablet) {
      padding: 25px;
    }
  }
  #signup--error-message {
    position: absolute;
    left: 77px;
    top: 13px;
    color: #c30a0a;
    @media(max-width: $Tablet) {
      left: 25px;
      font-size: 13px;
      line-height: 20px;
    }
  }
}