@import "./Shared.scss";


#providers--header {
  padding-bottom: 125px;
  @media(max-width: $Tablet) {
    padding-bottom: 20px;
  }
  #providers-header--heading {
    max-width: 700px;
    @media(max-width: $Tablet) {
      max-width: 400px;
    }
  }

  #providers-header--subtext {
    max-width: 900px;
    margin: 30px 0 55px 0;
  }

  #providers--categories-heading {
    color: $Black;
    margin-bottom: 15px;
    @media(max-width: $Tablet) {
      margin-bottom: 10px;
    }
  }

  #providers-categories--container {
    max-width: 670px;
    .service-providers--section-link {
      font-family: 'PostGrotesk';
      font-size: 24px;
      line-height: 50px;
      display: inline-block;
      vertical-align: top;
      @media(max-width: $Tablet) {
        font-size: 18px;
        line-height: 47px;
        width: 100%;
        display: block;
      }
    }
  }
}

.providers--section {
  .thirds--section {
    @media(max-width: $Tablet) {
      margin-bottom: 80px;
    }
  }

  .thirds-section--second {
    @media(max-width: $Tablet) {
      padding: 55px 20px 45px 20px !important;
    }
  }

  .eyebrow {
    @media(max-width: $Tablet) {
      display: none;
    }
  }

  #providers--thirds-white-box {
    background-color: $White;
  }

  .providers--section-title {
    margin-bottom: 30px;
    @media(max-width: $Tablet) {
      margin-bottom: 15px;
      line-height: 1;
    }
  }

  .providers--section-description {
    max-width: 600px;
    margin-top: 20px;
    @media(max-width: $Tablet) {
      margin-top: 10px;
      font-family: 'Source Code Pro', monospace;
      letter-spacing: 0.4px;
      line-height: 21px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  .providers--sections-container {
    padding: 70px 0 0 0;
    background-color: $LightGray;
    @media(max-width: $Tablet) {
      padding: 25px 7.5px 0 7.5px;
      border-top: 1px solid $Black;
    }
  }
}

.providers--sections-container {
  .flex--grid-no-justify {
    margin: 0 -12px;
    @media(max-width: $Tablet) {
      margin: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  .provider-section--name {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 35px 0;
    @media(max-width: $Tablet) {
      margin: 0 auto 25px auto;
      font-size: 18px;
      line-height: 24px;
      max-width: 445px;
      padding-left: 25px;
    }
  }
  .individual-provider--container {
    background-color: $White;
    border: 1px solid #1D1D1D;
    padding: 35px 30px;
    margin: 0 12.5px 25px 12.5px;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    max-width: 445px;
    display: inline-block;
    vertical-align: top;
    @media(max-width: $Tablet) {
      margin: 0 0 10px 0;
      padding: 30px 20px 10px 20px;
    }
    .provider--name {
      margin-bottom: 30px;
      h4 {
        font-size: 24px;
        line-height: 1;
        color: $Black;
        @media(max-width: $Tablet) {
          font-size: 18px;
        }
      }
    }
    .provider-attributes--container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      .provider--attribute-md {
        width: 50%;
        margin-bottom: 20px;
      }
      .provider--attribute-lg {
        width: 100%;
        margin-bottom: 20px;
      }
      .provider-attribute--title {
        color: $CobaltBlue;
        font-size: 10px;
        line-height: 13px;
        margin: 0;
        text-transform: uppercase;
      }
      .provider-attribute--body {
        margin: 5px 0 0 0;
        font-size: 16px;
        line-height: 18px;
        word-break: break-word;
        word-wrap: break-word;
        @media(max-width: $Tablet) {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
}

.providers-sections--container-inner {
  width: 100%;
  padding: 0 40px;
  @media(max-width: $Tablet) {
    padding: 0;
  }
}

.provider-section--lg {
  width: 100%;
  margin-bottom: 50px;
  @media(max-width: $Tablet) {
    margin-bottom: 20px;
  }
  .individual-provider--container {
    width: 31%;
    @media(max-width: $TabletLG) {
      width: 45%;
    }
    @media(max-width: $Tablet) {
      width: 100%;
    }
  }
}

.provider-section--md {
  width: 45%;
  margin-bottom: 50px;
  @media(max-width: $Desk) {
    width: 47%;
  }
  @media(max-width: $Tablet) {
    margin-bottom: 20px;
    width: 100%;
  }
  .individual-provider--container {
    width: 100%;
  }
}